@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <br />
        <span id="Label2" style="font-size:XX-Large;">Index</span>
        <br />
        <a href="@Url.Action("AddGroup", "Group")">Add Group</a>
        <br />
        <a href="@Url.Action("AddItem", "Item")">Add Item</a>
        <br />        <a href="@Url.Action("AddItemShop", "Item")">Add Item Shop</a>
    </div>
</body>
</html>
